.btn
  border-radius: 6px
  color: $white
  display: inline-block
  font-family: inherit
  font-size: 1.125rem
  height: 3rem
  padding: 0 $spacing-small
  margin: 0 auto
  transition: all 0.3s ease

  +breakpoint(mobile)
    width: 60%

  &-standard-width
    width: 150px

  &-home
    +breakpoint(mobile)
      width: 100%

  &-nav
    background-color: $black
    border: $border
    border-color: $white
    margin-right: $spacing-small
    height: 35px

    +breakpoint(mobile)
      width: auto

    &:hover
      background-color: lighten($black, 10%)

    &:active
      background-color: lighten($black, 10%)

  &-action
    background-color: $black
    border: none

    &:hover
      background-color: lighten($black, 10%)

    &:active
      background-color: lighten($black, 10%)

  &-delete
    background-color: darken($error-red, 20%)

    &:hover
      background-color: darken($error-red, 10%)

    &:active
      background-color: darken($error-red, 10%)

  &-choose
    background-color: darken($success-green, 20%)
    margin: 0 auto

    &--start
      margin: 0

    &:hover
      background-color: darken($success-green, 10%)

    &:active
      background-color: darken($success-green, 10%)

  &-back
    height: 50px
    width: 50px
    padding: $spacing-micro
    z-index: 50

    img
      height: 100%

  &-settings
    position: absolute
    top: 20px
    right: 20px
    height: 30px
    width: 30px

    img
      height: 100%

  &-open-view
    border: $border
    position: absolute
    padding: 3px
    bottom: 20px
    right: 20px
    height: 26px
    width: 26px

    img
      height: 100%

    &--dm
      border: $border
      position: absolute
      padding: 3px
      top: 20px
      right: 65px
      height: 26px
      width: 26px

  &-advance-turn
    background-color: $blue

    &:hover
      background-color: lighten($blue, 10%)

    &:active
      background-color: lighten($blue, 10%)

  &-disabled
    background-color: $gray
    cursor: default

  &-combat-enter
    width: auto
