.card
  border: $border
  border-radius: $border-radius
  position: relative
  padding: $spacing-micro $spacing-small

  &-inner
    display: flex
    flex-direction: row
    justify-content: space-between

  &-unselectable
    border: 1px solid lighten($black, 40%)
    cursor: pointer

    &:hover
      border: 1px solid $black

  &-selectable
    border: 1px solid lighten($black, 40%)
    cursor: pointer

    &:hover
      border: 2px solid $purple

  &-selected
    border: 2px solid $purple

  &-space
    padding: $spacing-small

    &--small
      padding: $spacing-micro

  &-container
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    margin: 0 auto
    width: 100%

    &--combat
      justify-content: flex-start
      flex-wrap: nowrap

  &-wrapper
    margin-bottom: $spacing-small
    width: 49%

    +breakpoint(mobile)
      margin: 0 auto $spacing-small auto
      width: 90%

    &--combat
      margin-right: $spacing-small
      margin-bottom: $spacing-small

      +breakpoint(mobile)
        width: 90%

    .copies-container
      display: flex
      flex-direction: row
      flex-wrap: wrap
      text-align: center
      margin: $spacing-small auto 0 auto
      width: 90%

      .copy
        border: $border
        border-radius: $border-radius
        padding: $spacing-micro
        margin-right: $spacing-micro
        margin-bottom: $spacing-micro
        font-size: 1rem
        line-height: 0.7
        cursor: pointer

        &-active
          background-color: lighten($purple, 20%)

        &-removed
          background-color: $gray

      .add-copy
        border: $border
        border-radius: $border-radius
        padding: 5px
        margin-bottom: $spacing-micro
        cursor: pointer
        height: 1rem
        width: 1rem

  &-avatar
    margin-right: $spacing-micro

    img
      height: 160px

    &--large
      img
        height: 250px

    &--view
      text-align: center

      img
        border-radius: 50%
        height: 100px
        width: 100px

    &--choose
      img
        cursor: pointer
        height: 80px
        width: 80px
        border-radius: 50%

  &-text
    display: flex
    flex-direction: column
    flex-grow: 1
    flex-basis: 70%
    min-width: 50%

    +breakpoint(mobile)
      flex-basis: 60%

  &-name
    font-size: 1.5rem
    margin-bottom: $spacing-micro

    &--combat
      margin-left: 65px
      margin-right: 40px
      overflow: hidden
      white-space: nowrap
      min-width: 175px

  &-field
    font-size: 1rem
    margin-bottom: $spacing-small

  &-forward
    margin: auto 0

    img
      width: 20px
      min-width: 20px

  &--tag
    img
      height: 24px
      padding: 0 7px

    &:hover
      cursor: pointer

    &-container
      position: absolute
      top: 10px
      right: 10px
      display: flex
      flex-direction: row
