.character
  &-avatar
    height: 200px

  &-stats
    display: flex
    flex-direction: row
    justify-content: space-between
    margin: 0 auto
    width: 60%

    +breakpoint(mobile)
      width: 100%

    input
      margin-right: $spacing-small

    &:last-child
      margin-right: 0
