.combat-character
  border: $border
  border-radius: $border-radius
  display: flex
  flex-direction: column
  padding: $spacing-small
  margin-bottom: $spacing-small
  position: relative

  .inner-one
    display: flex
    flex-direction: row
    justify-content: space-between

    +breakpoint(mobile)
      display: block

    &--avatar
      flex-basis: 30%
      margin-right: $spacing-small
      margin-top: auto
      margin-bottom: auto

      img
        max-height: 200px
        +breakpoint(mobile)
          height: 160px

    .character-tag
      margin-right: $spacing-micro
      margin-bottom: $spacing-micro
      cursor: pointer

      &--container
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        flex-wrap: wrap

      .tag
        font-size: 1rem
        margin: auto 0

  .inner-two
    display: flex
    flex-direction: row
    justify-content: center
    margin: $spacing-micro $spacing-small 0 $spacing-small
    padding: 0 32px

    +breakpoint(mobile)
      padding: 0

    button
      margin-right: $spacing-small

      +breakpoint(mobile)
        font-size: 1rem
        margin-right: $spacing-micro
        padding: $spacing-micro $spacing-small

      &:last-child
        margin-right: 0

  &--container
    display: flex
    flex-direction: column
    flex-basis: 52%

  &--tag
    img
      height: 24px
      padding: 0 7px

    &:hover
      cursor: pointer

    &-container
      position: absolute
      top: 18px
      right: 16px
      display: flex
      flex-direction: row

  .no-cursor
    cursor: default

  .notes-container
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    background-color: rgba(36, 36, 36, 0.5)

    textarea
      margin-top: 8%
      width: 90%
      height: 75%

    .notes-close
      position: absolute
      top: $spacing-small
      right: $spacing-small
      height: 20px
