.combat-character
  border: $border
  border-radius: $border-radius
  display: flex
  flex-direction: column
  padding: $spacing-small
  margin-bottom: $spacing-small

  .inner-one
    display: flex
    flex-direction: row
    justify-content: space-between

    +breakpoint(mobile)
      display: block

    &--avatar
      flex-basis: 30%
      margin-right: $spacing-small

      img
        +breakpoint(mobile)
          height: 160px

  .inner-two
    display: flex
    flex-direction: row
    justify-content: center
    margin: $spacing-micro $spacing-small 0 $spacing-small
    padding: 0 32px

    +breakpoint(mobile)
      padding: 0

    button
      margin-right: $spacing-small

      +breakpoint(mobile)
        font-size: 1rem
        margin-right: $spacing-micro
        padding: $spacing-micro $spacing-small

      &:last-child
        margin-right: 0

  &--container
    display: flex
    flex-direction: column
    flex-basis: 50%
