.damage-modifier

  &--btn
    border: $border
    border-radius: $border-radius
    cursor: pointer
    padding: $spacing-micro
    text-align: center
    width: 30px

    &-selected
      background-color: $purple
      color: $white

  &--container
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    width: 350px
    margin: 0 auto $spacing-small auto

    +breakpoint(mobile)
      width: 250px

    .damage-modifier--custom
      text-align: center
      width: 70px
