.folder
  border: $border
  border-radius: $border-radius
  cursor: pointer
  display: flex
  align-items: center
  padding: $spacing-micro
  position: relative
  margin-right: $spacing-small
  margin-bottom: $spacing-micro
  min-width: 90px

  &-hovered
    padding-right: 45px

  &-moving
    background: lighten($success-green, 20%);

  &-edit
    height: 15px
    width: 15px
    padding: 4px
    position: absolute
    right: 20px

  &-remove
    height: 15px
    width: 15px
    padding: 4px
    position: absolute
    right: 0

  &-confirm-delete
    color: $error-red
    margin-bottom: $spacing-micro

  .name
    border: none
    padding: 0
    height: auto
    text-align: center
    margin: 0
    background-color: transparent

    &-editing
      background-color: rgba($white, 0.5)
      height: 24px
      width: 140px
      text-align: left

      +breakpoint(mobile)
        width: 95px

  &-container
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: nowrap
    margin: 0 auto
    margin-bottom: $spacing-small

    &:last-child
      margin-right: 0

  &-inner
    display: flex
    flex-direction: row
    width: 95%

  &-left
    width: 90%

  &-add
    background-color: $black
    border: $border
    border-radius: $border-radius
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    padding: $spacing-micro
    height: $spacing-small
    width: $spacing-small

    img
      min-width: 16px
      min-height: 16px

.breadcrumbs
  display: flex
  flex-wrap: wrap
  margin-bottom: $spacing-micro

.breadcrumb
  cursor: pointer
  font-size: 1.2rem
  margin-right: $spacing-small

  &:hover
    color: $purple
    font-weight: bold

  &-selected
    color: $purple
    font-weight: bold

  &-container
    display: flex
    align-items: center

  &-divider
    height: 1rem
    margin-right: $spacing-small
