.name-card
  border: $border
  border-radius: $border-radius
  padding: $spacing-micro
  position: relative
  margin-bottom: $spacing-small
  min-width: 150px

  +breakpoint(mobile)
    margin-right: $spacing-micro
    margin-bottom: $spacing-micro

  &--hover
    cursor: pointer

    &:hover
      background-color: rgba($black, 0.8)
      color: $white

  &--container
    display: flex
    flex-direction: column
    flex-basis: 20%
    margin-right: $spacing-medium

    +breakpoint(mobile)
      margin: 0 auto $spacing-small auto
      width: 100%

  &--upnow
    background-color: rgba(lighten($success-green, 20%), 0.5)

  &--upnext
    background-color: rgba(lighten($warning-yellow, 40%), 0.5)

  &--unc
    background-color: rgba(lighten($error-red, 50%), 0.5)
    border-color: darken($error-red, 30%)

    &-text
      color: darken($error-red, 30%)
      text-decoration: line-through

  &--title
    font-size: 1rem
    text-align: center

  &--tag
    float: right

    img
      height: 24px
      padding: 0 7px

      &:hover
        cursor: pointer

    &-init
      top: 25px

  &--not-ready
    background-color: rgba(lighten($error-red, 30%), 0.5)

  &--ready
    background-color: rgba(lighten($success-green, 30%), 0.5)
