.name-card
  border: $border
  border-radius: $border-radius
  padding: $spacing-micro
  position: relative
  margin-bottom: $spacing-small

  &--container
    display: flex
    flex-direction: column
    flex-basis: 20%
    margin-right: $spacing-medium

    +breakpoint(mobile)
      margin: 0 auto $spacing-small auto
      width: 50%

  &--upnow
    background-color: lighten($success-green, 20%)
    font-weight: bold

  &--upnext
    background-color: lighten($error-red, 40%)
    font-weight: bold

  &--title
    font-size: 1rem
    text-align: center

  &--tag
    float: right

    img
      height: 24px
      padding: 0 7px

      &:hover
        cursor: pointer

    &-init
      top: 25px

  &--not-ready
    background-color: lighten($error-red, 30%)

  &--ready
    background-color: lighten($success-green, 30%)
