.nav
  background: $black
  height: 60px
  position: fixed
  top: 0
  width: 100%
  z-index: 10

  &-username
    color: $white
    font-size: 1.25rem
    margin-left: $spacing-small

    +breakpoint(mobile)
      font-size: 1rem
      max-width: 200px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

  &-dashboard
    margin-left: $spacing-medium
    height: 35px
    width: 35px

    +breakpoint(mobile)
      margin-left: $spacing-small

    img
      border-radius: 0px
      height: 100%
      width: 100%
