.stat-bubble
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  border: $border

  +breakpoint(mobile)
    margin-bottom: 20px

  &:last-child
    margin-right: 0

  &-container
    display: flex
    flex-direction: row
    justify-content: center
    vertical-align: middle

    .stats-input
      background-color: transparent
      padding: 0
      margin: 0
      border: none
      color: $white
      text-align: center
      font-size: 1.5rem
      height: 30px

  &--large
    width: 80px
    height: 80px
    margin-right: 20px

    .stat-bubble--label
      margin-top: -50px
      color: $black
      font-size: 0.9rem

    .stat-bubble--text
      font-size: 2.5rem
      line-height: 1
      margin-top: 25px

  &--med
    width: 65px
    height: 65px
    margin-right: 20px

    +breakpoint(mobile)
      margin-right: $spacing-micro

    .stat-bubble--label
      font-size: 0.7rem

    .stat-bubble--text
      font-size: 1.5rem

  &--small
    width: 40px
    height: 40px
    margin-right: 10px

  &--hp
    background-color: $red

  &--ac
    background-color: $blue

  &--init
    background-color: $green

  &--label
    color: $white
    font-size: 0.6rem

  &--text
    color: $white
    background-color: transparent
