.tag
  border-radius: $border-radius
  color: $white
  font-weight: 600
  font-size: 0.6rem
  padding: 5px

  &-active
    background-color: $success-green

  &-inactive
    background-color: $error-red

  &-combat-card
    position: absolute
    top: 20px
    left: 20px
