.tag
  border-radius: $border-radius
  color: $white
  font-weight: 600
  font-size: 0.6rem
  padding: 5px

  &-combat
    font-size: 0.8rem

  &-active
    background-color: $success-green

  &-inactive
    background-color: $error-red

  &-npc
    background-color: $purple
    margin: 0 7px

  &-blinded
    background-color: #285E68

  &-burned
    background-color: #A8443C

  &-charmed
    background-color: #F28682

  &-deafened
    background-color: #ffef53

  &-frightened
    background-color: rgb(57, 41, 23)

  &-frozen
    background-color: $white
    color: $black

  &-grappled
    background-color: lighten(#FD9C2C, 10%)

  &-incapacitated
    background-color: rgb(150, 196, 65)

  &-invisible
    background-color: rgb(189, 189, 189)
    color: $black

  &-paralyzed
    background-color: rgb(233, 232, 105)

  &-petrified
    background-color: rgb(30, 70, 39)

  &-poisoned
    background-color: rgb(95, 47, 96)

  &-prone
    background-color: rgb(73, 180, 177)

  &-restrained
    background-color: rgb(10, 128, 50)

  &-stunned
    background-color: rgb(150, 149, 44)

  &-transformed
    background-color: #4BB7F4

  &-unconscious
    background-color: $black

  &-combat-card
    position: absolute
    top: 20px
    left: 20px
    cursor: pointer

.character-tag
  margin-right: 0

  &--container
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    flex-wrap: wrap

  .tag
    font-size: 0.8rem
    margin-bottom: 2px
    padding: 4px

    &-small
      font-size: 0.6rem
