.turn-history

  &--container
    display: flex
    flex-direction: column
    flex-basis: 20%
    margin-left: $spacing-medium

    +breakpoint(mobile)
      margin: 0 auto $spacing-small auto
      width: 50%

  &--action
    padding-bottom: $spacing-small
