.turn-history

  &--container
    display: flex
    flex-direction: column
    flex-basis: 25%
    margin-left: $spacing-small

    +breakpoint(mobile)
      margin: 0 auto $spacing-small auto
      width: 100%

  &--action
    font-style: italic
    padding-bottom: $spacing-small
