.enter-initiative
  margin: $spacing-medium auto 0 auto
  width: 60%

  &--name-card
    display: flex
    flex-direction: row
    margin-top: $spacing-micro
    width: 80%

    input
      flex-grow: 1

    button
      padding: 0 $spacing-micro
      margin-left: $spacing-micro

      .end-of-round
        font-size: 1.5rem

.combat-content
  margin-top: $spacing-large

  .character-tag
    margin-right: $spacing-micro
    cursor: pointer

    &--container
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      flex-wrap: wrap
      width: 90%

    .tag
      font-size: 0.8rem
      margin-bottom: 2px

  .actions
    display: flex
    flex-direction: column
    margin: $spacing-medium auto 0 auto
    width: 70%

    +breakpoint(mobile)
      width: 90%

    button
      margin-bottom: $spacing-small

    input
      text-align: center
      margin: 0 auto
      width: 50%

    &:last-child
      margin-bottom: none

    .attack-container
      display: flex
      flex-direction: row
      justify-content: space-around
      margin: 0 auto
      width: 80%

      button
        width: 45%

      label
        font-size: 1.2rem
        width: 20%

        input
          height: 20px
          width: 20px
          vertical-align: middle
          margin-right: 10px

    .btn-back
      margin-right: $spacing-small

    .target
      border: $border
      border-radius: $border-radius
      cursor: pointer
      padding: $spacing-micro
      position: relative
      margin: 0 auto $spacing-small auto
      width: 50%

      &:hover
        background-color: $purple
        color: $white

      &-selected
        background-color: $purple
        color: $white
        font-weight: bold

    .target-error
      border-color: $error-red
      color: $error-red

.dm-combat-content

  .actions-dm-row
    display: flex
    flex-direction: row
    justify-content: space-around
    width: 100%

    input
      text-align: center
      margin: 0 auto
      width: 50%

    button
      margin auto 0

    &:last-child
      margin-bottom: none

  .actions-dm-column
    display: flex
    flex-direction: column
    width: 100%

    +breakpoint(mobile)
      width: 90%

    .page-subtitle
      padding: 0

    button
      margin-bottom: $spacing-micro

    input
      text-align: center
      margin: 0 auto
      width: 50%

    &:last-child
      margin-bottom: none

    .target
      border: $border
      border-radius: $border-radius
      cursor: pointer
      padding: $spacing-micro
      position: relative
      margin: 0 auto $spacing-micro auto
      width: 50%

      &:hover
        background-color: $purple
        color: $white

      &-selected
        background-color: $purple
        color: $white
        font-weight: bold

    .target-error
      border-color: $error-red
      color: $error-red

    .attack-container
      display: flex
      flex-direction: row
      justify-content: space-around
      margin: 0 auto
      width: 80%

      button
        width: 45%

      label
        font-size: 1.2rem
        width: 20%

        input
          height: 20px
          width: 20px
          vertical-align: middle
          margin-right: 10px

    .btn-back
      margin-right: $spacing-small

.end-of-round
  align-items: center
  display: flex
  flex-direction: row
  margin: $spacing-small auto
  width: 95%

  &--card
    font-size: 1.2rem

    .end-of-round--line
      flex-basis: 30%

  &--name
    font-size: 0.8rem

    +breakpoint(mobile)
      font-size: 1rem

  &--line
    flex-basis: 20%
    border: 2px solid $black
    border-radius: $border-radius
    height: 0

  &--text
    flex-grow: 1
    text-align: center
    vertical-align: middle
    padding: 0 $spacing-micro

.dm-actions
  display: flex
  flex-direction: row
  justify-content: center
  margin: 0 auto $spacing-small auto
  width: 80%
  position: relative

  button
    margin-right: $spacing-small

  +breakpoint(mobile)
    display: block
    width: 50%

    button
      margin-right: 0
      margin-bottom: $spacing-small

.turn-count
  position: absolute
  top: 24px
  right: 100px
  height: 20px
  width: 70px
  font-weight: bold
  font-size: 1.2rem

  &--view
    width: 100%
    text-align: right
    font-size: 1.2rem
    font-weight: bold
    padding-bottom: $spacing-micro
