.page
  margin: $spacing-large auto
  width: 90%

  +breakpoint(mobile)
    width: 100%

  &-header
    height: 50px
    margin-bottom: $spacing-large
    padding: 0 $spacing-medium

    +breakpoint(mobile)
      height: 42px

  &-title
    font-size: 2rem
    margin 0 auto
    width: 60%

    +breakpoint(mobile)
      width: 80%

  &-subtitle
    font-size: 1.25rem
    padding: $spacing-small 0

  &-content
    margin: 0 auto
    width: 70%

    +breakpoint(mobile)
      width: 90%
