$red = #A8443C
$blue = #437983
$green = #789C3C
$purple= #994595

$black = #363636
$white = #FFFFFF
$gray = #A4A4A4
$light-gray = #c7c7c7

$success-green = #00D868
$warning-yellow = #F4C32E
$error-red = #F44013
