body
  color: $black
  font-family: $sans-serif
  font-weight: 500
  line-height: 1.5

h1, h2, h3, h4, h5, h6
  font-weight: bold

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
  font-weight: inherit

h1
  font-size: $h1-fontsize
  margin: ($h1-fontsize / 2) 0 ($h1-fontsize / 2.5) 0

h2
  font-size: $h2-fontsize
  margin: ($h2-fontsize / 2) 0 ($h2-fontsize / 2.5) 0

h3
  font-size: $h3-fontsize
  margin: ($h3-fontsize / 2) 0 ($h3-fontsize / 2.5) 0

h4
  font-size: $h4-fontsize
  margin: ($h4-fontsize / 2) 0 ($h4-fontsize / 2.5) 0

h5
  font-size: $h5-fontsize
  margin: ($h5-fontsize / 2) 0 ($h5-fontsize / 2.5) 0

h6
  font-size: $h6-fontsize
  margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0

.field-description
  color: $gray
  font-family: inherit
  font-size: 0.875rem
  padding-bottom: $spacing-micro

.field-hint
  color: $gray
  font-family: inherit
  font-size: 0.875rem

.lead
  color: $gray
  font-family: 'Avenir', $sans-serif
  font-size: 1.25rem
  font-weight: 300
  padding-bottom: 32px
